@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

html,
body,
#root,
.app{
  /* height: 100%; */
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

.content {
  /* height: 100%; */
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}
.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

input[type='text']:focus,input[type='email']:focus,input[type='password']:focus {
  border: 0 !important;
}
.css-1m1f1hj-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color: rgba(255, 255, 255, 0.7) !important;
}

/* file upload button */
input[type="file"]::file-selector-button {
  border-radius: 4px;
  padding: 20 16px;
  height: 40px;
  cursor: pointer;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  margin-right: 16px;
  transition: background-color 200ms;
}

/* file upload button hover state */
input[type="file"]::file-selector-button:hover {
  background-color: #f3f4f6;
}

/* file upload button active state */
input[type="file"]::file-selector-button:active {
  background-color: #e5e7eb;
}
.css-ume8vi-MuiInputBase-input-MuiInput-input{
  padding: 40px 10px !important;
}
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

html,
body,
#root,
.app{
  /* height: 100%; */
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

.content {
  width: 100%;

  font-family: "Source Sans Pro", sans-serif;
}

.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
input[type='text']:focus,input[type='email']:focus,input[type='password']:focus {
  border: 0 !important;
}
.css-1m1f1hj-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color: rgba(255, 255, 255, 0.7) !important;
}
/* file upload button */
input[type="file"]::file-selector-button {
  border-radius: 4px;
  padding: 0 16px;
  height: 40px;
  cursor: pointer;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  margin-right: 16px;
  transition: background-color 200ms;
}

/* file upload button hover state */
input[type="file"]::file-selector-button:hover {
  background-color: #f3f4f6;
}

/* file upload button active state */
input[type="file"]::file-selector-button:active {
  background-color: #e5e7eb;
}

.MuiTypography-root,.MuiButtonBase-root,.MuiDataGrid-columnHeaderTitle,.MuiTablePagination-selectLabel,.MuiSelect-select,.MuiTablePagination-displayedRows{
color: #adadad;
font-family: 'Roboto Condensed', sans-serif !important;
font-size: 11pt !important;
}

.css-1rv476z-MuiInputBase-input-MuiFilledInput-input {
  font: inherit !important;
  letter-spacing: inherit !important;
  color: currentColor !important;
  padding: 4px 0 5px !important;
  border: 0 !important;
  box-sizing: content-box !important;
  background: none !important;
  height: 1.4375em !important;
  margin: 0 !important;
  -webkit-tap-highlight-color: transparent !important;
  display: block !important;
  min-width: 0 !important;
  width: 100% !important;
  -webkit-animation-name: mui-auto-fill-cancel !important;
  animation-name: mui-auto-fill-cancel !important;
  -webkit-animation-duration: 10ms !important;
  animation-duration: 10ms !important;
  padding-top: 25px !important;
  padding-right: 12px !important;
  padding-bottom: 8px !important;
  padding-left: 12px !important;
}

.css-1q6gkgc-MuiInputBase-root-MuiFilledInput-root {
  font-family: Source Sans Pro,sans-serif !important;
  font-weight: 400 !important;
  font-size: 0.8571428571428571rem !important;
  line-height: 1.4375em !important;
  color: #fff !important;
  box-sizing: border-box !important;
  position: relative !important;
  cursor: text !important;
  display: -webkit-inline-box !important;
  display: -webkit-inline-flex !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
  -webkit-align-items: center !important;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  width: 100% !important;
  position: relative !important;
  background-color: rgba(255, 255, 255, 0.09) !important;
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
  -webkit-transition: background-color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms !important;
  transition: background-color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms !important;
}

.css-8w7i53-MuiFormLabel-root-MuiInputLabel-root {
  color: rgba(255, 255, 255, 0.7) !important;
  font-family: Source Sans Pro,sans-serif !important;
  font-weight: 400 !important;
  font-size: 1.5rem !important;
  line-height: 1.4375em !important;
  padding: 0 !important;
  position: relative !important;
  display: block !important;
  transform-origin: top left !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  max-width: calc(100% - 24px) !important;
  position: absolute !important;
  left: 0 !important;
  top: 0 !important;
  -webkit-transform: translate(12px, 16px) scale(1) !important;
  -moz-transform: translate(12px, 16px) scale(1) !important;
  -ms-transform: translate(12px, 16px) scale(1) !important;
  transform: translate(12px, 16px) scale(1) !important;
  -webkit-transition: color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,-webkit-transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,max-width 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms !important;
  transition: color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,max-width 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms !important;
  z-index: 1 !important;
  pointer-events: none !important;
}