@import url("./all.css");

footer {
  font-family: var(--Roboto-font);
  background: var(--ownGray);
  color: white;
}

footer .text-muted {
  color: white !important;
}

NavLink{
font-weight:    lighter !important;
color: #CED4DA !important
}
button {
  background-color: #6570C9;
}

button:hover{
  background: #F75781 !important;
  color:white !important
}