.star-fill{
  color: yellow !important;
}

.product_page_button_search{
    font-family: var(--Roboto-font);
    font-size: 2rem;
    min-width: 10%;
}
.product_page_input_search{
  padding: 1.0rem 1.6rem;
  border: 1px solid #e1e1e1;
  background: transparent;
  font-size: 1.4rem;
  font-weight: bold;
  box-shadow: 0;
  outline: 0;
}
/*//////////////////////////////////////////////////////////////////
[ REBOOT ]*/
*, *:before, *:after {
	margin: 0px; 
	padding: 0px; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body, html {
	font-family: Arial, sans-serif;
	/* font-size: 15px; */
	color: #666666;

	height: 100%;
	background-color: #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*---------------------------------------------*/
a:focus {outline: none;}
a:hover {text-decoration: none;}

/*---------------------------------------------*/

ul, li {
	margin: 0px;
	list-style-type: none;
}


/*---------------------------------------------*/
input {
	display: block;
	outline: none;
	border: none;
}

/*---------------------------------------------*/
button {
	outline: none;
	border: none;
	background: transparent;
	cursor: pointer;
}

button:focus {outline: none;}


/*//////////////////////////////////////////////////////////////////
[ FONT SIZE ]*/
.fs-15 {font-size: 15px;}
.fs-16 {font-size: 16px;}

/*//////////////////////////////////////////////////////////////////
[ PADDING ]*/
.p-t-3 {padding-top: 3px;}
.p-t-4 {padding-top: 4px;}
.p-t-10 {padding-top: 10px;}
.p-t-14 {padding-top: 14px;}
.p-t-27 {padding-top: 27px;}
.p-t-45 {padding-top: 45px;}
.p-b-6 {padding-bottom: 6px;}
.p-b-15 {padding-bottom: 15px;}
.p-b-27 {padding-bottom: 27px;}
.p-b-35 {padding-bottom: 35px;}
.p-b-52 {padding-bottom: 52px;}
.p-b-140 {padding-bottom: 140px;}
.p-l-15, .p-lr-15 {padding-left: 15px;}
.p-lr-40 {padding-left: 40px;}
.p-r-15, .p-lr-15 {padding-right: 15px;}
.p-lr-40 {padding-right: 40px;}



/*//////////////////////////////////////////////////////////////////
[ MARGIN ]*/
.m-tb-4 {margin-top: 4px;}
.m-tb-5 {margin-top: 5px;}
.m-tb-10 {margin-top: 10px;}
.m-t-23 {margin-top: 23px;}
.m-tb-4 {margin-bottom: 4px;}
.m-b-5, .m-tb-5 {margin-bottom: 5px;}
.m-tb-10 {margin-bottom: 10px;}
.m-r-5 {margin-right: 5px;}
.m-r-6 {margin-right: 6px;}
.m-r-8 {margin-right: 8px;}
.m-r-32 {margin-right: 32px;}
.m-r--5 {margin-right: -5px;}



/*//////////////////////////////////////////////////////////////////
[ TEXT ]*/

/*------------------------------------------------------------------
[ Line height ]*/
.lh-12 {line-height: 1.2;}

/* ------------------------------------ */



/*//////////////////////////////////////////////////////////////////
[ SIZE ]*/
.w-full {width: 100%;}



/*//////////////////////////////////////////////////////////////////
[ BACKGROUND ]*/


/*//////////////////////////////////////////////////////////////////
[ EFFECT ]*/

/*------------------------------------------------------------------
[ Opacity ]*/


/*------------------------------------------------------------------
[ Wrap Picture ]*/


/*---------------------------------------------*/
.pointer {cursor: pointer;}


/*------------------------------------------------------------------
[ Transition ]*/
.trans-04 {
	-webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}



/*///////////////////////F///////////////////////////////////////////
[ POSITION ]*/

/*------------------------------------------------------------------
[ Display ]*/
.dis-none {display: none;}
.dis-block {display: block;}

.flex-w,
.flex-r,
.flex-t,
.flex-c-m,
.flex-l-m,
.flex-sb-m,
.flex-col-l,
.dis-flex {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
}

/*------------------------------------------------------------------
[ Position ]*/
.pos-relative {position: relative;}

/*------------------------------------------------------------------
[ Float ]*/


/*------------------------------------------------------------------
[ Top Bottom Left Right ]*/


/*------------------------------------------------------------------
[ Flex ]*/
.flex-w {
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}

/* ------------------------------------ */

.flex-r {
	justify-content: flex-end;
}

/* ------------------------------------ */
.flex-t {
	-ms-align-items: flex-start;
	align-items: flex-start;
}


/* ------------------------------------ */
.flex-c-m {
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}

.flex-l-m {
	justify-content: flex-start;
	-ms-align-items: center;
	align-items: center;
}

.flex-sb-m {
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}

/* ------------------------------------ */
.flex-col-l {
	-ms-align-items: flex-start;
	align-items: flex-start;
}

/*---------------------------------------------*/

/*---------------------------------------------*/


/* ------------------------------------ */

.flex-col-l {
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}


/*------------------------------------------------------------------
[ Absolute ]*/

.ab-t-l {
	position: absolute;
	left: 0px;
	top: 0px;
}



/*//////////////////////////////////////////////////////////////////
[ Other ]*/


/*---------------------------------------------*/

/*---------------------------------------------*/

/*------------------------------------------------------------------
Project:  
Version:  
Last change:  
Assigned to:  Le Xuan Bach
Primary use:  Company
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[LAYOUT]

* body
  + Header / header
  + Page Content / .page-content .name-page
        + Section Layouts / section .name-section
        ...
  + Footer / footer

-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[COLOR CODES]

# Text Color      :  
# Primary Color 01:  
# Primary Color 02:   
# Primary Color 03:  

------------------------------------------------------------------*/
/*------------------------------------------------------------------
[TYPOGRAPHY]

Body            : 16px/1.6 '', Arial, sans-serif;
Title           : 18px/1.6 '', Arial, sans-serif;
Paragrap        : 18px/1.6 '', Arial, sans-serif;
Input, textarea : 14px/1.6 '', Arial, sans-serif;
-------------------------------------------------------------------*/



/*//////////////////////////////////////////////////////////////////
[ FONT ]*/


  

  
  
  /*//////////////////////////////////////////////////////////////////
  [ RS PLUGIN ]*/
  
  /*------------------------------------------------------------------
  [ Bootstrap ]*/
  /* .container {max-width: 1380px;}
  
  @media (max-width: 1600px) {
    .container {max-width: 1200px;}
  } */
  
  /*------------------------------------------------------------------
  [ Slick2 ]*/
  
  
  
  
  
  /*//////////////////////////////////////////////////////////////////
  [ LOADDING ]*/
  
  /*//////////////////////////////////////////////////////////////////
  [ BUTTON BACK TO TOP ]*/
  
  
  /*//////////////////////////////////////////////////////////////////
  [ Header ]*/
  
  /*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
  [ Header Desktop ]*/
  
  
  /*==================================================================
  [ Top bar ]*/
  
  /*---------------------------------------------*/
  
  
  /*---------------------------------------------*/
  
  
  /*---------------------------------------------*/
  
  
  
  /*==================================================================
  [ Menu ]*/
  
  
  /*---------------------------------------------*/
  
  
  
  /*------------------------------------------------------------------
  [ Logo ]*/
  
  
  
  /*------------------------------------------------------------------
  [ Menu ]*/
  
  /*---------------------------------------------*/
  
  /*---------------------------------------------*/
  
  /*------------------------------------------------------------------
  [ Icon header ]*/
  
  
  /*---------------------------------------------*/
  
  /*---------------------------------------------*/
  
  
  /*------------------------------------------------------------------
  [ Modal search ]*/
  
  /*---------------------------------------------*/
  
  /*---------------------------------------------*/
  
  /*---------------------------------------------*/
  
  
  /*==================================================================
  [ Fixed menu desktop ]*/
  
  /*---------------------------------------------*/
  
  
  
  /*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
  [ Header Mobile ]*/
  
  /*------------------------------------------------------------------
  [ Logo mobile ]*/
  
  
  
  /*------------------------------------------------------------------
  [ btn show menu ]*/
  
  /*---------------------------------------------*/
  
  /*==================================================================
  [ Menu mobile ]*/
  
  /*---------------------------------------------*/
  
  
  /*//////////////////////////////////////////////////////////////////
  [ Sidebar ]*/
  
  /*---------------------------------------------*/
  
  /*---------------------------------------------*/
  
  
  /*//////////////////////////////////////////////////////////////////
  [ Header cart ]*/
  
  /*---------------------------------------------*/
  
  /*---------------------------------------------*/
  
  /*---------------------------------------------*/
  
  /*---------------------------------------------*/
  
  
  /*//////////////////////////////////////////////////////////////////
  [ Restyle Select2 ]*/
  
  /*------------------------------------------------------------------
  [ in select ]*/
  
  
  /*------------------------------------------------------------------
  [ Dropdown option ]*/
  
  /*------------------------------------------------------------------
  [ rs2 ]*/
  
  
  
  /*//////////////////////////////////////////////////////////////////
  [ Slick1 ]*/
  
  /*---------------------------------------------*/
  
  
  /*//////////////////////////////////////////////////////////////////
  [ Slick2 ]*/
  
  /* ------------------------------------ */
  
  
  /*//////////////////////////////////////////////////////////////////
  [ Slick3 ]*/
  
  /*---------------------------------------------*/
  
  /*---------------------------------------------*/
  
  
  
  /*//////////////////////////////////////////////////////////////////
  [ RS Magnific-Popup ]*/
  
  /* overlay at start */
  /* overlay animate in */
  /* overlay animate out */
  
  /* content at start */
  /* content animate it */
  /* content animate out */
  
  
  /*//////////////////////////////////////////////////////////////////
  [ Tab01 ]*/
  
  
  
  /*//////////////////////////////////////////////////////////////////
  [ RS sweet alert ]*/
  
  
  /*//////////////////////////////////////////////////////////////////
  [ Filter ]*/
  
  /*---------------------------------------------*/
  .filter-col1 {width: 27%;}
  .filter-col2 {width: 27%;}
  .filter-col3 {width: 26%;}
  .filter-col4 {width: 20%;}
  
  /*---------------------------------------------*/
  .filter-link {
    color: #aaa;
    border-bottom: 1px solid transparent;
  }
  
  .filter-link:hover {
    color: #6c7ae0;
    border-bottom: 1px solid #6c7ae0;
  }
  
  .filter-link-active {
    color: #6c7ae0;
    border-bottom: 1px solid #6c7ae0;
  }
  
  @media (max-width: 767px) {
    .filter-col1,
    .filter-col2,
    .filter-col3,
    .filter-col4 {width: 50%;}
  }
  
  @media (max-width: 575px) {
    .filter-col1,
    .filter-col2,
    .filter-col3,
    .filter-col4 {width: 100%;}
  }
  
  
  
  /*//////////////////////////////////////////////////////////////////
  [ Num Product ]*/
  
  /*//////////////////////////////////////////////////////////////////
  [ Tolltip100 ]*/
  
  
  /*//////////////////////////////////////////////////////////////////
  [ Modal1 ]*/
  
  /*//////////////////////////////////////////////////////////////////
  [ Table Shopping Cart ]*/
  
  
  
  /*//////////////////////////////////////////////////////////////////
  [ Block1 ]*/
  
  /*---------------------------------------------*/
  
  /*---------------------------------------------*/
  
  /*---------------------------------------------*/
  
  /*//////////////////////////////////////////////////////////////////
  [ Block2 ]*/
  .block2-pic {
    position: relative;
  }
  
  .block2-btn {
    position: absolute;
    bottom: -50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  
  .block2-pic:hover .block2-btn {
    bottom: 20px;
  }
  
  /*---------------------------------------------*/
  .block2-txt-child1 {
    width: calc(100% - 30px);
  }
  
  .block2-txt-child2 {
    width: 30px;
  }
  
  .btn-addwish-b2 .icon-heart2 {
    opacity: 0;
  }
  
  .btn-addwish-b2:hover .icon-heart2 {
    opacity: 1;
  }
  
  .btn-addwish-b2:hover .icon-heart1 {
    opacity: 0;
  }
  
  /*---------------------------------------------*/
  
  
  
  /*==================================================================
      TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT
  ==================================================================*/
  .cl2 {color: #333;}
  .cl3 {color: #666;}
  .cl4 {color: #999;}
  .cl5 {color: #222;}
  .cl6 {color: #888;}
  
  /*//////////////////////////////////////////////////////////////////
  [ S-Text 0 - 15 ]*/
  .stext-101 {
    font-family: Poppins-Medium;
    font-size: 15px;
    line-height: 1.466667;
    text-transform: uppercase;
  }
  
  .stext-103 {
    font-family: Poppins-Regular;
    font-size: 15px;
    line-height: 1.466667;
  }
  
  .stext-104 {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.466667;
  }
  
  .stext-105 {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.466667;
    letter-spacing: 1px;
  }
  
  .stext-106 {
    font-family: Poppins-Regular;
    font-size: 15px;
    line-height: 1.2;
  }
  
  .stext-107 {
    font-family: Poppins-Regular;
    font-size: 13px;
    line-height: 1.923;
  }
  
  
  /*---------------------------------------------*/
  
  
  /*//////////////////////////////////////////////////////////////////
  [ M-Text 16 - 25 ]*/
  
  .mtext-102 {
    font-family: Poppins-SemiBold;
    font-size: 16px;
    line-height: 1.6;
  }
  
  .mtext-107 {
    font-family: Poppins-Regular;
    font-size: 16px;
    line-height: 1.625;
  }
  
  
  /*//////////////////////////////////////////////////////////////////
  [ L-Text >= 26 ]*/
  
  
  /*---------------------------------------------*/
  
  
  
  
  /*==================================================================
      SIZE SIZE SIZE SIZE SIZE SIZE SIZE SIZE SIZE SIZE SIZE SIZE SIZE 
  ==================================================================*/
  
  
  /*//////////////////////////////////////////////////////////////////
  [ Size ]*/
  
  .size-102 {
    min-width: 139px;
    height: 40px;
  }
  
  .size-103 {
    min-width: 179px;
    height: 46px;
  }
  
  .size-104 {
    min-width: 94px;
    height: 40px;
  }
  
  .size-105 {
    min-width: 111px;
    height: 40px;
  }
  
  .size-113 {
    width: 38px;
    height: 60px;
  }
  
  .size-114 {
    width: calc(100% - 38px);
    height: 60px;
  }
  
  /*//////////////////////////////////////////////////////////////////
  [ Width ]*/
  
  
  
  /*//////////////////////////////////////////////////////////////////
  [ Height ]*/
  .size-301 {
    min-height: 30px;
  }
  
  
  /*==================================================================
     BACKGROUND BACKGROUND BACKGROUND BACKGROUND BACKGROUND BACKGROUND 
  ==================================================================*/
  .bg0 {background-color: #fff;}
  .bg2 {background-color: #e6e6e6;}
  .bg6 {background-color: #f2f2f2;}
  
  /*---------------------------------------------*/
  
  /*---------------------------------------------*/
  
  
  
  
  /*==================================================================
         BORDER BORDER  BORDER  BORDER  BORDER  BORDER  BORDER  BORDER
  ==================================================================*/
  
  .bor1 {
    border-radius: 23px;
  }
  
  .bor2 {
    border-radius: 20px;
  }
  
  .bor3 {
    border-bottom: 1px solid transparent;
  }
  
  .bor4 {
    border: 1px solid #e6e6e6;
    border-radius: 3px;
  }
  
  .bor7 {
    border: 1px solid #ccc;
    border-radius: 15px;
  }
  
  .bor8 {
    border: 1px solid #e6e6e6;
    border-radius: 2px;
  }
  
  /*---------------------------------------------*/
  
  /*---------------------------------------------*/
  
  
  /*==================================================================
   HOW HOW HOW HOW HOW HOW HOW HOW HOW HOW HOW HOW HOW HOW HOW HOW HOW 
  ==================================================================*/
  
  .plh2::-webkit-input-placeholder { color: #333;}
  .plh2:-moz-placeholder { color: #333;}
  .plh2::-moz-placeholder { color: #333;}
  .plh2:-ms-input-placeholder { color: #333;}
  
  /*---------------------------------------------*/
  
  /*---------------------------------------------*/
  
  /*---------------------------------------------*/
  .how-active1 {
    color: #333;
    border-color: #797979;
  }
  
  
  /*---------------------------------------------*/
  
  
  /*---------------------------------------------*/
  
  /*---------------------------------------------*/
  
  /*---------------------------------------------*/
  
  /*---------------------------------------------*/
  
  /*---------------------------------------------*/
  
  /*---------------------------------------------*/
  
  /*---------------------------------------------*/
  
  
  
  /*---------------------------------------------*/
  
  /*---------------------------------------------*/
  
  
  
  /*==================================================================
        PSEUDO PSEUDO PSEUDO PSEUDO PSEUDO PSEUDO PSEUDO PSEUDO PSEUDO
  ==================================================================*/
  
  /*//////////////////////////////////////////////////////////////////
  [ Focus ]*/
  
  
  
  
  /*//////////////////////////////////////////////////////////////////
  [ Hover ]*/
  .hov-cl1:hover {color: #717fe0;}
  
  /*---------------------------------------------*/
  .hov-img0 {
    display: block;
    overflow: hidden;
  }
  
  .hov-img0 img{
    width: 100%;
    -webkit-transition:transform 0.9s ease;
    -o-transition:transform 0.9s ease;
    -moz-transition:transform 0.9s ease;
    transition: transform 0.9s ease;
    -ms-transition:transform 0.9s ease;
  }
  
  .hov-img0:hover img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
  
  /*---------------------------------------------*/
  .hov-btn1:hover {
    /* border-color: #222; */
    /* background-color: #222; */
    color: #fff;
  }
  
  /*---------------------------------------------*/
  
  /*---------------------------------------------*/
  .hov-btn3:hover {
    border-color: #717fe0;
    background-color: #717fe0;
    color: #fff;
  }
  
  .hov-btn3:hover i {
    color: #fff;
  }
  
  /*---------------------------------------------*/
  .hov-tag1:hover {
    color: #717fe0;
    border-color: #717fe0;
  }
  
  
  /*---------------------------------------------*/
  
  
  /*---------------------------------------------*/
  .hov1:hover {
    color: #333;
    border-color: #797979;
  }
  
  /*---------------------------------------------*/
  
  /*---------------------------------------------*/
  
  
  
  
  /*==================================================================
    RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE
  ==================================================================*/
  
  /*//////////////////////////////////////////////////////////////////
  [ XL ]*/
  @media (max-width: 1199px) {
  
    /*---------------------------------------------*/
  
  }
  
  
  /*//////////////////////////////////////////////////////////////////
  [ LG ]*/
  @media (max-width: 991px) {
  
    /*---------------------------------------------*/
  
    /*---------------------------------------------*/
  }
  
  
  /*//////////////////////////////////////////////////////////////////
  [ MD ]*/
  @media (max-width: 767px) {
  
    /*---------------------------------------------*/
  
  }
  
  
  /*//////////////////////////////////////////////////////////////////
  [ SM ]*/
  @media (max-width: 575px) {
    .p-lr-15-sm {padding-left: 15px; padding-right: 15px;}
  
    /*---------------------------------------------*/
    
    /*---------------------------------------------*/
  
    /*---------------------------------------------*/
  
    /*---------------------------------------------*/
  
    
  }
  
  
  /*//////////////////////////////////////////////////////////////////
  [ SSM ]*/
  @media (max-width: 480px) {
  
    /*---------------------------------------------*/
  
  }